<a href="https://colab.research.google.com/github/prabuPy23/game/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import os
from openpyxl import workbook,load_workbook

In [49]:
pets = pd.DataFrame(data = {'name': ['cat','parrot','dog'], 'id':[1,2,3]})
print(pets)

     name  id
0     cat   1
1  parrot   2
2     dog   3

In [50]:
petDate = pd.DataFrame(data = {'id':[1,2,3], 'date': ['1-12','2-13','3-13']})

In [51]:
tes = pd.merge(left=pets,right=petDate,how='inner',on='id')
print(tes)

     name  id  date
0     cat   1  1-12
1  parrot   2  2-13
2     dog   3  3-13

In [52]:
new_table = tes[['id','name','date']].copy()
new_table['f-date'] = tes[['date']] + '-24'
print(new_table)

   id    name  date   f-date
0   1     cat  1-12  1-12-24
1   2  parrot  2-13  2-13-24
2   3     dog  3-13  3-13-24

In [53]:
new_table.rename(columns={'name':'PetName'},inplace=True)
print(new_table)

   id PetName  date   f-date
0   1     cat  1-12  1-12-24
1   2  parrot  2-13  2-13-24
2   3     dog  3-13  3-13-24

In [54]:
new_table['date'] = new_table['date'].str.replace('-','.')

In [55]:
print(new_table)

   id PetName  date   f-date
0   1     cat  1.12  1-12-24
1   2  parrot  2.13  2-13-24
2   3     dog  3.13  3-13-24

In [56]:
new_table['f-date']=new_table['f-date'].str.replace('-','.')
print(new_table)

   id PetName  date   f-date
0   1     cat  1.12  1.12.24
1   2  parrot  2.13  2.13.24
2   3     dog  3.13  3.13.24